<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="medico.css">

    <style>
        * {
    margin: 0;
    font-family: Helvetica;
}

.header{
    background-color: #00a6fb;
    height: 55px;
}

.logautdiv{
    align-items: left;
    position: absolute;
}

.logout{
    background-color: transparent;
    border-color: transparent;
    font-size: 15px;
    color: #fff;
    
}

.logout:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
.forms{
    background-color: #eee;
    width: 350px;
    height: 250px;
    text-align: center;
    margin: 10px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    margin-left: 35px;
    margin-top: 90px;

}


.titulosforms{
    font-size: 25px;
    color: #00a6fb;
    padding: 20px;
}

.img{
    margin-left: 15px;
    height: 50px;
    width: 160px;
}

#Graficos{
    background-color: #eee;
    width: 1000px;
    height: 450px;
    margin-bottom: 20px;
    text-align: center;
    padding: 15px;
    margin-left: 100px;
    border-radius: 10px;
}

.dashboard{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}


footer {
    background-color: #00a6fb;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: bottom;
    bottom: 0;
    width: 1260px;
    margin-top: 70px;
}

.listinha{
    list-style-type: none;
    text-align: center;
    padding: 0px;
    padding-top: 10px;
}

.tabela{
    width: 100%;
    height: 90%;
}

.butom{
    background-color: transparent;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
}

.butom:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    
}

.lista {
    background-color: #3498db;
    padding: 10px;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o conteúdo dentro da .main */
}

.doctor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.doctor-card {
    text-align: center;
    margin: 10px;
}

.doctor-image {
    height: 300px; /* Ajuste a altura conforme necessário */
    width: 300px; /* Ajuste a largura conforme necessário */
    border-radius: 50%; /* Para garantir que a imagem do médico seja redonda */
}

    </style>
    <script>

function paciente() {
            window.location.href = "tPacAdm";
}


function medicos() {
            
            window.location.href = "tMedAdm";
}

function agendamentos(){
    window.location.href = "";
}

function dashboard(){
    window.location.href = "tAdm";

}

function seta(){
    window.location.href = "/";
}

    </script>
    <title>Administração Medical Group</title>

</head>
<body>
    <div id="conteudo"></div>

    <header class="header">
        <img class="img" src="https://github.com/GabrielBarbxsaaZx999/testee.github.io/blob/main/Logo.png?raw=true" alt="Logo">
    </header>
        <nav>
        
            <ul class="lista">
                <div class="logautdiv"><a type="button" class="logout" href="/logout">&#9664; Logout</a></div>
                <li><button  class="butom" type="button" href="#" onclick="dashboard()">Dashboard</button></li>
                <li><button  class="butom" type="button" href="#" onclick="paciente()">Pacientes</button></li>
                <li><button  class="butom" type="button" href="#" onclick="medicos()">Médicos</button></li>
            </ul>
        </nav>
        <br>
        <br>
 
        <main class="main">
            <b>
                <section class="doctor-container">
                    <div class="doctor-card">
                        <img src="https://pbs.twimg.com/media/Dr-0I3UWoAMM8uJ.jpg" alt="Doctor 1" class="doctor-image">
                        <h5>Dr. Benjamin Costa</h5>
                    </div>
                    <div class="doctor-card">
                        <img src="https://i.pinimg.com/originals/11/47/e8/1147e8e02bdc6a7fc65c76dd692ae04e.jpg" alt="Doctor 2" class="doctor-image">
                        <h5>Dra. Maria Oliveira</h5>
                    </div>
                    <div class="doctor-card">
                        <img src="https://img.freepik.com/fotos-premium/medico-de-medicina-feminina-preenchendo-a-lista-de-historico-medico-do-paciente-durante-a-ronda-da-ala-conceito-de-assistencia-medica-ou-seguro_254969-1778.jpg" alt="Doctor 3" class="doctor-image">
                        <h5>Dra. Gina Nyla</h5>
                    </div>
                </section>
            </b>
        </main>
 


    <footer>
        <p> 2023&copy;Todos os diretios reservados</p>
    </footer>
</body>
</html>